body
{
    margin: 0;
    padding: 0;
    border: 0;
}
.school-heading{
    background-color: rgb(133, 186, 221);
    text-align: center;
    padding-block: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.schools-wrapper{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 98%;
    margin-inline: auto;
}

.school{
    width: calc(50% - 10px); /* 2 schools per row for mobile by default */
    text-align: center;
    background-color: rgba(12, 143, 220, 0.03);
    padding-bottom: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.school .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.school .img-wrapper{
    width: 100%;
    background-color: white;
    flex-grow: 1;
}

.school span{
    display: block;
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

/* 3 schools per row on screens from 500px to 767px */
@media (min-width: 500px) {
    .school{
        width: calc(33.333% - 13.333px); /* 3 schools per row */
    }
}

/* 4 schools per row on screens from 767px to 992px */
@media (min-width: 767px) {
    .school{
        width: calc(25% - 15px); /* 4 schools per row */
    }
}

/* 5 schools per row on screens 992px and above */
@media (min-width: 992px) {
    .school {
        width: calc(20% - 16px); /* 5 schools per row */
    }
}
/* schools section end */

/* uniforms-section */
.uniforms-wrapper{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 20px;
}
.uniform{
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.uniform h2{
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(215,215,215,0) 100%);
    padding-block: 5px;
   
    color: white;
    font-weight: 400;
    padding-right: 30px;
}
.uniform-button{
    background-color: rgb(6, 109, 165);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-right: 20px;
    transition: .3s ease;
}
.uniform-button:hover{
    background-color: rgb(4, 115, 115);
}
@media (min-width:400px) {
    .uniform{
        width: calc(50% - 20px);
    }
}
@media (min-width:992px) {
    .uniform{
        width: calc(33.3333% - 20px);
    }
}
@media (min-width:1024px) {
    .uniform{
        width: calc(25% - 20px);
    }
}
.uniform-bulk-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 5%;
}
.uniform-bulk{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.uniform-bulk h1{
    margin: 0;
    font-size: 2rem;
}
@media (min-width:500px) {
    .uniform-bulk{
        width: calc(50% - 20px);
    }
}
/* uniform bulk end */

/* testimonials */
.testimonial-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 5%;
    margin-block: 5%;
    text-align: center;
    color: white;
    overflow: hidden;
}
.testimonial-section > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    border-bottom: 1px solid white ;
    width: 95%;
    margin-inline: auto;
    margin-bottom: 0;
}
.testimonials-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.testimonial {
    min-width: 100%;
    box-sizing: border-box;
    padding-inline: 20px;
    /* background: #f7f7f7; */
    /* border-top: 1px solid #ddd; */

    text-align: center;
}

.testimonial p {
    font-size: 16px;
    color: white;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.testimonial span {
    font-size: 18px;
    color: white;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}